<div class='chat-message right'>
  <img class='message-avatar' src='{{avatar}}' alt='' />
  <div class='message'>
    <p class='message-author text-primary'>
      {{username}}
    </p>
    <span class='message-date'>
      {{dateString}}
    </span>
    <span class='message-content'>
      {{message}}
    </span>
  </div>
</div>