_test_scripts: &_test_scripts
  script:
    - yarn build

_test_scripts_elm: &_test_scripts_elm
  before_script:
    - yarn global add elm elm-format elm-test
  script:
    - env RUNTIME=elm yarn build

cache:
  yarn: true
  directories:
    - node_modules

jobs:
  include:
    - *_test_scripts
    - *_test_scripts_elm

language: node_js
node_js: '10'
